@charset "utf-8";


/* Header CSS */

.logoImg {
    width: 104px;
    height: 20px;
}

.headInput {
    background-color: #f8f8f8;
    border: none;
    width: 300px;
    font-family: inherit;
    height: 37px;
    outline: none;
}

.headContainer {
    border-radius: 0;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-color: #E5E5E5;
    z-index: 101;
    top: 0;
    left: 0;
    position: -webkit-sticky;
    position: sticky;
}

.headDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.headDivDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1216px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* 반응형 존재함 */
.headDivDivDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
}

/* 반응형 */
.headDivDivDivADiv1 {
    display: none;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* 반응형 */
.headDivDivDivADiv1Span {
    display: block;
    width: auto;
    height: 20px;
}

.headDivDivDivADiv1SpanSvg {
    display: block;
    width: auto;
    height: 100%;
    fill: #0c0c0c;
}

/* 반응형 */
.headDivDivDivADiv2 {
    display: block;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.headDivDivDivADiv2Span {
    display: block;
    width: auto;
    height: 20px;
}

.headDivDivDivADiv2SpanSvg {
    display: block;
    width: auto;
    height: 100%;
    fill: #0c0c0c;
}


.headDivDivDivDiv1 {
    width: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* 반응형 존재함 */
.headDivDivDivDiv2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 0;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.headDivDivDivDiv2Div1 {
    display: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.headDivDivDivDiv2Div1AH4 {
    border-width: 0;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.625rem;
    white-space: nowrap;
}

.headDivDivDivDiv2Div1Div {
    width: 16px;
    height: 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.headDivDivDivDiv2Div3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: unset;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 144px;
}

.headDivDivDivDiv2Div3Div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.headDivDivDivDiv2Div3DivDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.headDivDivDivDiv2Div3DivDivDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -9px;
    margin-bottom: -9px;
    margin-left: -4px;
    margin-right: -4px;
    width: 100%;
    cursor: unset;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    cursor: unset;
}

.headDivDivDivDiv2Div3DivDivDivDiv {
    border-radius: 0;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    border-color: #E5E5E5;
}

.headDivDivDivDiv2Div3DivDivDivDivDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 38px;
    padding-left: 16px;
    padding-right: 10px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.headDivDivDivDiv2Div3DivDivDivDivDivP {
    border-width: 0;
    color: #A2A2A2;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.headDivDivDivDiv2Div3DivDivDivDivDivSpan {
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
}

.headDivDivDivDiv2Div3DivDivDivDivDivSpanSvg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #1A1A1A;
}

.headDivDivDivDiv3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

/* 반응형 */
.headDivDivDivDiv3Div {
    display: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.headDivDivDivDiv3DivDiv {
    display: flex;
    flex: 0 0 auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.headDivDivDivDiv3DivDivDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

/* 반응형 */
.headDivDivDivDiv3DivDivDivDiv1 {
    display: none;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}

.headDivDivDivDiv3DivDivDivDiv1AP {
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.headDivDivDivDiv3DivDivDivDiv1Div {
    width: 24px;
    height: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.headDivDivDivDiv3DivDivDivDiv1DivAP {
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.headDivDivDivDivDivDivDivDiv {
    width: 24px;
    height: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.headDivDivDivDiv3DivDivDivDiv2AP {
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.headDivDivDivDiv4 {
    display: flex;
    margin-left: auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}

.headDivDivDivDiv4Div {
    display: flex;
    flex: 0 0 auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}

.headDivDivDivDiv4DivDiv {
    display: flex;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.headDivDivDivDiv4DivDivDiv1 {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}

.headDivDivDivDiv4DivDivDiv2 {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    position: relative;
}

.headDivDivDivDiv4DivDivDiv2Div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    cursor: pointer;
}

.headDivDivDivDiv4DivDivDiv2DivDiv1 {
    width: 34px;
    height: 34px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.headDivDivDivDiv4DivDivDiv2DivDiv1Div {
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.headDivDivDivDiv4DivDivDiv2DivDiv1DivPicture {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.headDivDivDivDiv4DivDivDiv2DivDiv1DivPictureImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.headDivDivDivDiv4DivDivDiv2DivDiv2 {
    width: 4px;
    height: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.headDivDivDivDiv4DivDivSpan {
    display: block;
    width: 20px;
    height: 20px;
}

.headDivDivDivDiv4DivDivSpan2 {
    display: block;
    width: 12px;
    height: 12px;
}

.headDivDivDivDiv4DivDivSpanSvg {
    display: block;
    width: 100%;
    height: 100%;
    fill: rgb(0, 0, 0);
}

.headDivDivDivDiv4DivDivSpanSvgPath {
    fill: rgb(0, 0, 0);
}


/* 마이페이지 이동용 박스 */

.myProContainer {
    display: none;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    z-index: 3002;
    top: 54px;
    right: 0px;
    position: absolute;
}

.myProWrapper {
    border-radius: 2px;
    overflow: hidden;
    z-index: 0;
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 12px 2px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
}

.mpDiv {
    display: flex;
    width: 200px;
    padding: 24px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.mpDivDiv {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}

.mpDivDivDiv1 {
    display: flex;
    flex: 0 0 auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.mpDivDivDiv1Div {
    width: 34px;
    height: 34px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.mpDivDivDiv1DivDiv {
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.mpDivDivDiv1DivDivPicture {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.mpDivDivDiv1DivDivPictureImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.mpDivDivDiv2 {
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    margin-left: 8px;
    align-items: flex-start;
    flex-direction: column;
}

.mpDivDivDiv2P {
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.mpDivDivDiv2Button {
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
    text-decoration-line: none;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-width: 0px;
    cursor: pointer;
    color: rgb(255, 86, 0);
}

.mpDivDivDiv2ButtonDiv {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row-reverse;
}

.mpDivDivDiv2ButtonDivSpan1 {
    display: block;
    width: 10px;
    height: 10px;
}

.mpDivDivDiv2ButtonDivDiv {
    width: 2px;
    height: 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.mpDivDivDiv2ButtonDivSpan2 {
    border-width: 0px;
    color: rgb(255, 86, 0);
    margin: 0px;
    padding: 0px;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 0.875rem;
}

.mpDivDiv2 {
    flex: 0 0 auto;
    background-color: rgb(229, 229, 229);
    width: 100%;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.mpDivDiv3 {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.mpDivDiv3Div1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
}

.mpDivDiv3Div1P {
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.mpDivDiv3Div2 {
    width: 0px;
    height: 12px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.mpDivDiv3Div3 {
    display: inline-block;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.mpDivDiv3Div3Button {
    cursor: pointer;
    border-width: 0;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: inline-flex;
}

.mpDivDiv3Div3ButtonDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.mpDivDiv3Div3ButtonDivSpan {
    line-height: 0.875rem;
    font-weight: 400;
    font-size: 0.6875rem;
    border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
}

.mpDivDiv3Div3ButtonDivSpanP {
    border-width: 0;
    color: #666666;
    margin: 0;
    padding: 0;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.Arrows {
    width: 20px;
}















@media screen and (min-width: 640px) {

    .headDivDivDiv {
        height: 56px;
    }

    .headDivDivDivADiv1 {
        display: flex;
    }

    .headDivDivDivDiv2 {
        margin-right: 0;
    }

    .headDivDivDivADiv2 {
        display: none;
    }

    .headDivDivDivDiv2Div2 {
        width: 0;
        height: 0;
    }

    .headDivDivDivDiv2Div3 {
        max-width: 360px;
    }

    .headDivDivDivDiv3Div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .headDivDivDivDiv3DivDivDivDiv1 {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .headDivDivDiv {
        height: 78px;
    }

    .headDivDivDivADiv1Span {
        height: 24px;
    }

    .headDivDivDivDiv2 {
        margin-right: 32px;
    }

    .headDivDivDivDiv2Div1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .headDivDivDivDiv2Div2 {
        width: 36px;
        height: 0;
    }

    .headDivDivDivDiv2Div3 {
        max-width: 380px;
    }

    .headDivDivDivDiv3DivDivDivDiv1 {
        display: flex;
    }

}