@charset "utf-8";

.footContainer {
    border-top: 1px solid rgb(248, 248, 248);
    background-color: rgb(255, 255, 255);
    padding-bottom: 32px;
}

.footDiv {
    position: relative;
}

.footDivDiv1 {
    display: flex;
    flex-direction: column;
}

.footDivDiv1Div1 {
    margin-top: 24px;
}

.footDivDiv1Div1Div1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 32px;
}

.footDivDiv1Div1Div1Svg {
    width: 110px;
    height: auto;
}

.footDivDiv1Div1Div2 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: rgb(102, 102, 102);
    font-feature-settings: "case", "ss02";
    margin-top: 20px;
}

.footDivDiv1Div1Div2Div {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: rgb(102, 102, 102);
    font-feature-settings: "case", "ss02";
    margin-top: 20px;
}

.footDivDiv1Div1Div3Div {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    font-feature-settings: "case", "ss02";
    color: rgb(26, 26, 26);
    padding: 8px 0px;
    margin-top: 12px;
    display: inline-block;
    cursor: pointer;
}

.footDivDiv1Div1Div3DivDiv {
    display: inline-block;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footDivDiv1Div1Div3DivDivButton {
    cursor: pointer;
    border-width: 0;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.footDivDiv1Div1Div3DivDivButtonDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.footDivDiv1Div1Div3DivDivButtonDivSpan {
    border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 0.875rem;
}

.footDivDiv1Div1Div3DivDivButtonDivSpanP {
    border-width: 0;
    color: #666666;
    margin: 0;
    padding: 0;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.footDivDiv1Div2 {
    display: none;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
    height: 1px;
    background-color: rgb(248, 248, 248);
}

.footDivDiv1Div3 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    width: 100%;
    margin-top: 24px;
}

.footDivDiv1Div3Div {
    font-weight: bold;
    letter-spacing: -0.15px;
    margin: 0px;
    color: rgb(26, 26, 26);
    margin-bottom: 8px;
    padding-left: 12px;
    font-size: 16px;
    line-height: 24px;
}

.footDivDiv1Div3A {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.footDivDiv1Div3ADiv {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    color: rgb(26, 26, 26);
    flex: 1 1 0%;
    padding: 8px 12px;
}


.footDivDiv1Div4 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    width: 100%;
    margin-top: 24px;
}

.footDivDiv1Div4Div1 {
    font-weight: bold;
    letter-spacing: -0.15px;
    margin: 0px;
    color: rgb(26, 26, 26);
    margin-bottom: 8px;
    padding-left: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.footDivDiv1Div4Div2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
}

.footDivDiv1Div4Div2A {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.footDivDiv1Div4Div2ADiv {
    font-size: 14px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    color: rgb(26, 26, 26);
    flex: 1 1 0%;
    padding: 8px 12px;
}

.footDivDiv1Div4A {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.footDivDiv1Div4ADiv {
    font-size: 14px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    flex: 1 1 0%;
    padding: 8px 12px;
}

.footDivDiv1Div5 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    width: 100%;
    margin-top: 24px;
}

.footDivDiv1Div5Div1 {
    clear: both;
}

.footDivDiv1Div5Div1Div1 {
    font-weight: bold;
    letter-spacing: -0.15px;
    margin: 0px;
    color: rgb(26, 26, 26);
    margin-bottom: 8px;
    padding-left: 12px;
    font-size: 16px;
    line-height: 24px;
    float: left;
}

.footDivDiv1Div5Div1Div2 {
    font-size: 11px;
    font-weight: normal;
    letter-spacing: normal;
    display: block;
    float: right;
    margin: 0px;
    padding-right: 12px;
    line-height: 24px;
    color: rgb(162, 162, 162);
}

.footDivDiv1Div5Div2 {
    margin-left: 12px;
}

.footDivDiv1Div5Div2Button {
    border: 0px;
    outline: none;
    margin: 0px;
    flex: initial;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    vertical-align: middle;
    background-color: rgb(248, 248, 248);
    transition: background-color 0.1s ease 0s;
    text-decoration-line: none;
    border-radius: 3px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.15px;
    font-feature-settings: "case", "ss02";
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    color: rgb(26, 26, 26);
}

.footDivDiv1Div5Div2Button:not(:disabled):not(:disabled) {
    cursor: pointer;
}

.footDivDiv1Div5Div2ButtonSpan {
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.footDivDiv1Div5Div2Div {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    margin-top: 12px;
    display: none;
    color: rgb(162, 162, 162);
    text-align: center;
}

.footDivDiv2 {
    margin-top: 24px;
    display: flex;
    flex-direction: column;

}

.footDivDiv2Div1 {
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    margin-top: 24px;
}

.footDivDiv2Div1Div {
    display: inline-flex;
    overflow: hidden;
}

.footDivDiv2Div1DivDiv {
    margin-left: -24px;
}

.footDivDiv2Div1DivDivA {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    font-feature-settings: "case", "ss02";
    display: inline-flex;
    color: rgb(162, 162, 162);
}

.footDivDiv2Div1DivDivA::before {
    display: block;
    width: 24px;
    text-align: center;
    content: "･";
}

.footDivDiv2Div2 {
    margin-top: 24px;
}

.footDivDiv2Div2Div1 {
    display: inline-flex;
    overflow: hidden;
}

.footDivDiv2Div2Div1Div {
    margin-left: -24px;
}

.footDivDiv2Div2Div1DivA {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    font-feature-settings: "case", "ss02";
    display: inline-flex;
    color: rgb(162, 162, 162);
}

.footDivDiv2Div2Div1DivA::before {
    display: block;
    width: 24px;
    text-align: center;
    content: "･";
}

.footDivDiv2Div2Div2 {
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 12px;
    font-feature-settings: "case", "ss02";
    color: rgb(202, 202, 202);
    margin-top: 16px;
}

.footDivSpan {
    margin: 0px;
    flex: initial;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    vertical-align: middle;
    border-radius: 3px;
    color: rgb(26, 26, 26);
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    letter-spacing: -0.2px;
    padding: 0px 16px;
    height: 40px;
    transition: background-color 0.1s ease 0s;
    text-decoration-line: none;
    margin-top: 16px;
    font-weight: bold;
}

.footDivSpanA {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    flex-direction: row;
}

.footDivSpanADiv {
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0px;
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

.footDivSpanASpan {
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}








@media screen and (min-width: 1024px) {
    .footDivDiv1Div1Div3DivDivButtonDivSpan {
        line-height: 0.875rem;
        font-weight: 400;
        font-size: 0.6875rem;
    }
}

@media screen and (min-width: 640px) {
    .footDivDiv1Div1Div3DivDivButtonDivSpan {
        line-height: 0.875rem;
        font-weight: 400;
        font-size: 0.6875rem;
    }
}


@media (min-width: 1024px) {

    .footContainer {
        padding-top: 40px;
        padding-bottom: 64px;
    }

    .footDiv {
        margin-left: 24px;
        margin-right: 24px;
    }

    .footDivDiv1 {
        flex-direction: row;
    }

    .footDivDiv1Div1 {
        flex-basis: 398px;
        flex-shrink: 0;
    }

    .footDivDiv1Div3 {
        max-width: 272px;
        margin-left: -12px;
    }

    .footDivDiv1Div3ADiv {
        margin-right: 28px;
    }

    .footDivDiv1Div4 {
        max-width: 272px;
        margin-left: -12px;
    }

    .footDivDiv1Div4Div2ADiv {
        margin-right: 28px;
    }

    .footDivDiv1Div4ADiv {
        margin-right: 28px;
    }

    .footDivDiv1Div5 {
        max-width: 272px;
        margin-left: -12px;
    }

    .footDivDiv1Div5Div1Div2 {
        display: none;
    }

    .footDivDiv1Div5Div2Div {
        display: block;
    }

    .footDivDiv2 {
        flex-direction: row;
        margin-top: 80px;
        border-top: 1px solid rgb(248, 248, 248);
    }

    .footDivDiv2Div1 {
        flex-basis: 398px;
        flex-shrink: 0;
    }

    .footDivDiv2Div1Div {
        padding-right: 78px;
    }

    .footDivDiv2Div2Div1 {
        padding-right: 78px;
    }

    .footDivSpan {
        display: none;
    }
}

@media (min-width: 1024px) {
@media (min-width: 1024px) and (max-width: 1239px) {

    .footDiv {
        margin-left: 32px;
        margin-right: 32px;
    }
}
    
@media (min-width: 1240px) {

    .footDiv {
        max-width: 1176px;
    	width: 100%;
    	margin-left: auto;
    	margin-right: auto;
    	}
	}

}
