@charset "UTF-8";

::selection {
	background-color: #ff5946 !important;
	color: #fff !important;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	text-align: left;
	text-transform: none;
	line-height: 1;
	letter-spacing: 0;
	font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
		'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	background: #f8f8f9;
	position: relative;
	margin: 0;
	overflow-wrap: anywhere;
}

div {
	display: block;
}

* {
	font-family: -apple-system, BlinkMacSystemFont, 'Pretendard JP',
		Pretendard, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
		'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u,
	i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	caption, article, aside, canvas, details, embed, figure, figcaption,
	footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
	mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

img {
	vertical-align: middle;
	border-style: none;
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	color: #182026;
	font-weight: 600;
	margin: 0 0 10px;
	padding: 0;
	line-height: 25px;
	font-size: 22px;
}

hr {
	display: block;
	unicode-bidi: isolate;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	margin-inline-start: auto;
	margin-inline-end: auto;
	overflow: hidden;
	border-style: inset;
	border-width: 1px;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	margin: 20px 0;
	border: none;
	border-bottom: 1px solid rgba(16, 22, 26, 0.15);
}

p, ul {
	padding: 0px;
	margin: 0px;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

button, html [type='button'], [type='reset'], [type='submit'] {
	-webkit-appearance: button;
}

svg:not(:root) {
	overflow: hidden;
}

.eventDetailContainer {
	background-color: rgb(255, 255, 255);
}

.eventDetailTop {
	position: absolute;
	width: 100%;
	height: 404px;
	padding: 0px 20px;
	background-color: rgb(78, 28, 219);
}

.eventDetailMain {
	position: static;
	max-width: none;
	margin-left: 24px;
	margin-right: 24px;
}

@media ( min-width : 1024px) {
	.eventDetailMain {
		padding-top: 32px;
	}
}

@media ( min-width : 1240px) {
	.eventDetailMain {
		max-width: 1176px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

.eventDetailMainDiv1 {
	flex-wrap: wrap;
	-webkit-box-pack: start;
	place-content: stretch flex-start;
	margin-right: -12px;
	margin-left: -12px;
	display: flex !important;
}

.eventDetailMainDiv2 {
	position: relative;
	min-height: 1px;
	padding-right: 12px;
	padding-left: 12px;
	box-sizing: border-box;
	width: 100%;
}

@media(max-width : 1023px) {
.eventDetailMainDiv1Div1 {
	margin: 0px -24px;
}
}
@media ( min-width : 1024px) {
	.eventDetailMainDiv2 {
		width: 66.6667%;
	}
}

.eventDetailMainDiv1Div1Div1 {
	position: relative;
	overflow: hidden;
	padding-top: 100%;
}

@media ( min-width : 1024px) {
	.eventDetailMainDiv1Div1Div1 {
		padding-top: 57.1429%;
	}
}

@media ( min-width : 1024px) {
	.eventDetailMainDiv1Div1Div1>* {
		border-radius: 3px;
	}
}
@media (max-width : 1023px) {
	.eventDetailMainDiv1Div1Div1 {
	padding-top: 75%;
	}
}

.eventDetailMainDiv1Div1Div1Picture1 {
	position: relative;
}

.eventDetailMainDiv1Div1Div1 picture {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.eventDetailMainDiv1Div1Div1Picture1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.eventDetailMainDiv1Div2 {
	display: block;
}

@media ( min-width : 1024px) {
	.eventDetailMainDiv1Div2 {
		display: none;
	}
}

.eventDetailMainDiv1Div2Div1 {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 26px 0px 6px;
	word-break: keep-all;
}

@media ( min-width : 1024px) {
	.eventDetailMainDiv1Div2Div1 {
		margin-top: 0px;
		width: auto;
	}
}

.eventDetailMainDiv1Div2Div1H3 {
	font-size: 24px;
	font-weight: bold;
	color: rgb(26, 26, 26);
	line-height: 34px;
	letter-spacing: -0.4px;
	margin: 0px;
}

.eventDetailMainDiv1Div2Div2 {
	word-break: keep-all;
	font-size: 14px;
	font-weight: normal;
	color: rgb(26, 26, 26);
	line-height: 20px;
	letter-spacing: -0.15px;
	margin: 0px;
}

.eventDetailMainDiv1Div2Div3 {
	margin: 28px 0px 40px;
}

.eventDetailMainDiv1Div2Div3Div1 {
	display: flex;
	letter-spacing: -0.15px;
}

.eventDetailMainDiv1Div2Div3Div1:first-child {
	-webkit-box-align: center;
	align-items: center;
}

.eventDetailMainDiv1Div2Div3Div1Div1 {
	font-size: 14px;
	font-weight: bold;
	color: rgb(26, 26, 26);
	line-height: 20px;
	letter-spacing: -0.15px;
	margin: 0px;
	margin-right: 60px;
}

.eventDetailMainDiv1Div2Div3Div1Div1>div:first-child {
	width: 112px;
}

.eventDetailMainDiv1Div2Div3Div1Div1>div:last-child {
	width: 200px;
}

.eventDetailMainDiv1Div2Div3Div1Div2 {
	font-size: 14px;
	font-weight: normal;
	color: rgb(26, 26, 26);
	line-height: 20px;
	letter-spacing: -0.15px;
	margin: 0px;
	word-break: keep-all;
}

.eventDetailMainDiv1Hr {
	margin: 0px -24px;
	border-bottom: 1px solid rgb(248, 248, 248);
}

@media ( min-width : 1024px) {
	.eventDetailMainDiv1Hr {
		display: none;
	}
}

.eventDetailMainDiv1Div3 {
	padding: 0px 0px 40px;
}

@media ( min-width : 1024px) {
	.eventDetailMainDiv1Div3 {
		padding: 40px 100px 60px;
	}
}

.eventDetailMainDiv1Div3 p:first-of-type {
	padding-top: 0px;
}

.eventDetailMainDiv1Div3>:last-child {
	margin-bottom: 0px;
}

.eventDetailMainDiv1Div3 p {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	letter-spacing: -0.3px;
	margin: 0px;
	color: rgb(26, 26, 26);
	padding-top: 8px;
}

.eventDetailMainDiv1Div3 h2, .eventDetailMainDiv1Div3 h3,
	.eventDetailMainDiv1Div3 p, .eventDetailMainDiv1Div3 blockquote,
	.eventDetailMainDiv1Div3 strong, .eventDetailMainDiv1Div3 ul,
	.eventDetailMainDiv1Div3 ol {
	margin: 0px;
	padding: 0px;
	border: none;
	word-break: keep-all;
	overflow-wrap: break-word;
}

.eventDetailMainDiv1Div3Div1 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	-webkit-box-pack: start;
	justify-content: flex-start;
}

.eventDetailMainDiv1Div3Div1Picture1 {
	position: relative;
	padding: 0px;
	border: none;
	background: none;
	display: block;
	width: 100%;
	margin-bottom: 0px;
}

.eventDetailMainDiv1Div3Div1Picture1 img {
	display: block;
	width: 100%;
	margin: 0px;
	height: 100%;
	object-fit: cover;
}

.eventDetailMainDiv1Div4 {
	margin: 40px 0px 48px;
}

@media ( min-width : 1024px) {
	.eventDetailMainDiv1Div3Div1 {
		margin: 72px 0px 48px;
	}
}
@media ( max-width : 1023px) {
	.eventDetailMainDiv1Div3Div1 {
		margin: 0px -24px;
	}
}

.eventDetailMainDiv1Div4Section1Div1 {
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.eventDetailMainDiv1Div4Section1Div1Div1 {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.eventDetailMainDiv1Div4Section1Div1Div1H2 {
	width: 100%;
	text-align: center;
	display: block !important;
	font-size: 20px;
	font-weight: bold;
	color: rgb(26, 26, 26);
	line-height: 28px;
	margin: 0px;
}

@media ( min-width : 1024px) {
	.eventDetailMainDiv1Div4Section1Div1Div1H2 {
		font-size: 24px;
		font-weight: bold;
		color: rgb(26, 26, 26);
		line-height: 34px;
		letter-spacing: -0.4px;
		margin: 0px;
	}
}

.eventDetailMainDiv1Div4Section1Div2 {
	width: 100%;
	overflow: hidden;
}

.eventDetailMainDiv1Div4Section1Div2Ul1 {
	overflow: hidden;
	list-style: none;
	margin: 0px -12px -32px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	place-content: stretch flex-start;
}

.eventDetailMainDiv1Div4 {
	margin: 40px 0px 48px;
}

@media ( min-width : 1024px) {
	.eventDetailMainDiv1Div4 {
		margin: 72px 0px 48px;
	}
}

.eventDetailMainDiv1Div4Section1 {
	
}

.eventDetailMainDiv1Div4Section1Div1 {
	text-align: center;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
}

.eventDetailMainDiv1Div4Section1Div1Div1 {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.eventDetailMainDiv1Div4Section1Div1Div1H2 {
	width: 100%;
	text-align: center;
	display: block !important;
	font-size: 20px;
	font-weight: bold;
	color: rgb(26, 26, 26);
	line-height: 28px;
	margin: 0px;
}

@media ( min-width : 1024px) {
	.cYgzWU {
		font-size: 24px;
		font-weight: bold;
		color: rgb(26, 26, 26);
		line-height: 34px;
		letter-spacing: -0.4px;
		margin: 0px;
	}
}

.eventDetailMainDiv1Div4Section1Div2 {
	width: 100%;
	overflow: hidden;
}

.eventDetailMainDiv1Div4Section1Div2Ul1 {
	overflow: hidden;
	list-style: none;
	margin: 0px -12px -32px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	place-content: stretch flex-start;
}

.eventDetailMainDiv1Div4 {
	margin: 40px 0px 48px;
}

@media ( min-width : 1024px) {
	.eventDetailMainDiv1Div4 {
		margin: 72px 0px 48px;
	}
}

.eventDetailMainDiv1Div4Section1 {
	
}

.eventDetailMainDiv1Div4Section1Div1 {
	text-align: center;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
}

.eventDetailMainDiv1Div4Section1Div1Div1 {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.eventDetailMainDiv1Div4Section1Div1Div1H2 {
	width: 100%;
	text-align: center;
	display: block !important;
	font-size: 20px;
	font-weight: bold;
	color: rgb(26, 26, 26);
	line-height: 28px;
	margin: 0px;
}

@media ( min-width : 1024px) {
	.cYgzWU {
		font-size: 24px;
		font-weight: bold;
		color: rgb(26, 26, 26);
		line-height: 34px;
		letter-spacing: -0.4px;
		margin: 0px;
	}
}

.eventDetailMainDiv1Div4Section1Div2 {
	width: 100%;
	overflow: hidden;
}

.eventDetailMainDiv1Div4Section1Div2Ul1 {
	overflow: hidden;
	list-style: none;
	margin: 0px -12px -32px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	place-content: stretch flex-start;
}

.eventDetailMainDiv3 {
	position: relative;
	min-height: 1px;
	padding-right: 12px;
	padding-left: 12px;
	box-sizing: border-box;
	width: 100%;
	position: static;
}

@media ( min-width : 1024px) {
	.eventDetailMainDiv3 {
		width: 33.3333%;
	}
}

.eventDetailMainDiv3Div1 {
	position: sticky;
	top: 30px;
	padding: 28px 32px 32px;
	border-radius: 3px;
	box-shadow: rgb(41 42 43/ 16%) 0px 2px 6px -2px;
	border: 1px solid rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	z-index: 9;
}

.eventDetailMainDiv3Div1Div1 {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 26px 0px 6px;
	word-break: keep-all;
}

@media
(
max-width
:
1023px)
{
.eventDetailMainDiv3 {
	display: none;
}

}
@media ( min-width : 1024px) {
	.eventDetailMainDiv3Div1Div1 {
		margin-top: 0px;
		width: auto;
	}
}

.eventDetailMainDiv3Div1Div1H3 {
	font-size: 24px;
	font-weight: bold;
	color: rgb(26, 26, 26);
	line-height: 34px;
	letter-spacing: -0.4px;
	margin: 0px;
}

.eventDetailMainDiv3Div1Div2 {
	font-size: 14px;
	font-weight: normal;
	color: rgb(26, 26, 26);
	line-height: 20px;
	letter-spacing: -0.15px;
	margin: 0px;
	word-break: keep-all;
}

.eventDetailMainDiv3Div1Div2Div1 {
	margin: 28px 0px 40px;
}

.eventDetailMainDiv3Div1Div2Div1Div1 {
	display: flex;
	letter-spacing: -0.15px;
}

.eventDetailMainDiv3Div1Div2Div1Div1:first-child {
	-webkit-box-align: center;
	align-items: center;
}

.eventDetailMainDiv3Div1Div2Div1Div1Div1 {
	font-size: 14px;
	font-weight: bold;
	color: rgb(26, 26, 26);
	line-height: 20px;
	letter-spacing: -0.15px;
	margin: 0px;
}

.eventDetailMainDiv3Div1Div2Div1Div1>div:first-child {
	width: 112px;
}

.eventDetailMainDiv3Div1Div2Div1Div1Div2 {
	font-size: 14px;
	font-weight: normal;
	color: rgb(26, 26, 26);
	line-height: 20px;
	letter-spacing: -0.15px;
	margin: 0px;
	word-break: keep-all;
}

.eventDetailMainDiv3Div1Div2Div1Div1>div:last-child {
	width: 200px;
}

.eventDetailMainDiv3Div1Span1 {
	cursor: pointer;
	width: 100%;
	margin-bottom: 20px;
	background-color: rgb(26, 26, 26);
	display: inline-flex;
	vertical-align: middle;
	border-radius: 3px;
	color: rgb(26, 26, 26);
	font-weight: 700;
	font-size: 16px;
	letter-spacing: -0.2px;
	padding: 0px 20px;
	height: 48px;
	transition: background-color 0.1s ease 0s;
	text-decoration-line: none;
	margin: 0px;
	flex: initial;
	box-sizing: border-box;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.eventDetailMainDiv3Div1Span1A1 {
	width: 100%;
	height: 100%;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	text-decoration: none;
	flex-direction: row;
	color: rgb(26, 26, 26);
}

.eventDetailMainDiv3Div1Span1A1Span1 {
	color: rgb(255, 255, 255);
	flex: 0 0 auto;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.eventDetailMainDiv3Div1Button1 {
	cursor: pointer;
	width: 100%;
	display: inline-flex;
	vertical-align: middle;
	background: none;
	color: rgb(202, 202, 202);
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: -0.2px;
	transition: color 0.1s ease 0s;
	border: 0px;
	outline: none;
	margin: 0px;
	padding: 0px;
	flex: initial;
	box-sizing: border-box;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
	padding-top: 17px
}

.eventDetailMainDiv3Div1Button1Div1 {
	flex: 0 0 auto;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	font-size: 0px;
	width: 18px;
	height: 18px;
	margin-right: 4px;
}

.eventDetailMainDiv3Div1Button1Span1 {
	flex: 0 0 auto;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	color: rgb(202, 202, 202);
	font-weight: 500;
	line-height: 20px;
	letter-spacing: -0.2px;
}

.eventDetailMainDiv4 {
	
}

.eventDetailMainDiv5 {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	z-index: 1000;
}

@media ( min-width : 1024px) {
	.eventDetailMainDiv5 {
		display: none;
	}
}

.eventDetailMainDiv5Div1 {
	display: flex;
	padding: 12px;
	background-color: rgb(255, 255, 255);
}

.eventDetailMainDiv5Div1Div1 {
	display: flex;
	margin-right: 8px;
}

.eventDetailMainDiv5Div1Div1Button1 {
	border: 0px;
	outline: none;
	margin: 0px;
	box-sizing: border-box;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
	display: inline-flex;
	flex: 0 0 auto;
	vertical-align: middle;
	padding: 0px;
	border-radius: 3px;
	color: rgb(26, 26, 26);
	transition: background-color 0.1s ease 0s;
	cursor: pointer;
}

.eventDetailMainDiv5Div1Div1 button {
	width: 48px;
	height: 48px;
	background-color: rgb(255, 255, 255);
}

.eventDetailMainDiv5Div1Div1Button1Span1 {
	flex: 0 0 auto;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.eventDetailMainDiv5Div2Button1 {
	cursor: pointer;
	overflow: hidden;
	z-index: 0;
	background-color: rgb(32, 32, 32);
	border-width: 0px;
	border-radius: 2px;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	display: inline-flex;
	padding: 13px 12px;
	position: relative;
	color: rgb(243, 243, 243);
	-system-on-color: #f3f3f3;
}

@media screen and (min-width: 640px) {
	.eventDetailMainDiv5Div2Button1 {
		width: 100%;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 13px;
		padding-bottom: 13px;
	}
}

@media screen and (min-width: 1024px) {
	.eventDetailMainDiv5Div2Button1 {
		width: 100%;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 13px;
		padding-bottom: 13px;
	}
}

.eventDetailMainDiv5Div2Button1Div1 {
	display: flex;
	visibility: inherit;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
}

.eventDetailMainDiv5Div2Button1Div1Div1 {
	width: 4px;
	display: flex;
}

.eventDetailMainDiv5Div2Button1Div1Span1 {
	border-width: 0px;
	color: var(- -system-on-color);
	margin: 0px;
	padding: 0px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.125rem;
}

@media screen and (min-width: 640px) {
	.eventDetailMainDiv5Div2Button1Div1Span1 {
		font-size: 0.875rem;
		line-height: 1.125rem;
	}
}

@media screen and (min-width: 1024px) {
	.eventDetailMainDiv5Div2Button1Div1Span1 {
		font-size: 0.875rem;
		line-height: 1.125rem;
	}
}

.eventDetailMainDiv5Div2Button1Div1Div2 {
	width: 4px;
	display: flex;
}

.eventDetailMainDiv6 {
	
}