@charset "UTF-8";
.content{
	display: flex;
	-webkit-box-align: stretch;
	align-items: stretch;
	flex-direction: column;
}
@media screen and (min-width: 1024px){
.contentDiv {
    margin-top: unset;
    margin-bottom: unset;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	}
}
.contentDiv{
	display: flex;
    width: 100%;
    flex-direction: column;
}
@media screen and (min-width: 1024px){
.contentDivDiv {
    max-width: 480px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
	}
}
.contentDivDiv{
	margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
    border-color: #191919;
}
@media screen and (min-width: 1024px){
.contentDivDivDiv {
    margin-top: 36px;
    margin-bottom: 36px;
    max-width: 416px;
	}
}
.contentDivDivDiv{
	display: flex;
	-webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.contentDivDivDivDiv{
	display: flex;
	-webkit-box-align: stretch;
	align-items: stretch;
	flex-direction: column;
}
.contentDivDivDivDivDiv{
	display: flex;
    padding-bottom: 20px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.contentDivDivDivDivDivH3{
	border-width: 0;
    color: #f3f3f3;
    margin: 0;
    padding: 0;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2.25rem;
}
.contentDivDivDivDivDivDiv{
	width: 0px;
    height: 20px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.contentDivDivDivDivDivP{
	border-width: 0px;
    color: rgb(171, 171, 171);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}
.contentDivDivDivDivDiv2{
	display: flex;
    padding-top: 20px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.contentDivDivDivDivDiv2Div{
	display: flex;
	-webkit-box-align: stretch;
	align-items: stretch;
	flex-direction: column;
}
.contentDivDivDivDivDiv2DivDiv{
	 display: flex;
	 -webkit-box-align: stretch;
	 align-items: stretch;
	 flex-direction: column;
}
.emailInputbox{
	background-color: rgb(0, 0, 0);
    border-radius: 2px;
    outline-style: none;
    color: var(--system-on-color);
    width: 100%;
    height: 100%;
    padding: 13px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.15);
}
.emailSubmitBetween{
	width: 0;
    height: 16px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
@media screen and (min-width: 1024px){
.submitButton {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 14px;
    padding-right: 14px;
	}
}
.submitButton{
	cursor: default;
    background-color: rgba(255, 255, 255, 0.15);
    border-width: 0px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
}
.resettingTextDiv{
	display: flex;
	visibility: inherit;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
}
.resettingTextDivDiv{
	width: 4px;
	display: flex;
}
@media screen and (min-width: 1024px){
.resettingTextDivSpan {
    font-size: 1rem;
    line-height: 1.25rem;
	}
}
.resettingTextDivSpan{
	border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.resettingTextDivDiv2{
	width: 4px;
	display: flex;
}
@media screen and (min-width: 1024px){
.contentDivDiv2 {
    display: none;
	}
}
.contentDivDiv2{
	margin-top: 32px;
	-webkit-box-align: stretch;
	align-items: stretch;
	flex-direction: column;
}
@media screen and (min-width: 1024px){
.footer {
    display: flex;
	}
}
.footer{
	margin-top: 76px;
	-webkit-box-align: stretch;
	align-items: stretch;
    flex-direction: column;	
}
.portal{
	display: flex;
	align-content: stretch;
	flex-shrink: 1;
	flex-direction: column;
    box-sizing: border-box;
    position: relative;
    z-index: 200;
}