@charset "UTF-8";

.rewriteLogo {
	display: block;
}
.logoImg1 {
	width: 60px;
    height: 46px;
}

element.style {
    color: rgb(243, 243, 243);
    --system-on-color: #f3f3f3;
}
a{
	text-decoration: none;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*, *::before, *::after {
    box-sizing: border-box;
}
button, input, select {
    margin: 0;
}
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

body {
    margin: 0;
    overflow-wrap: anywhere;
    line-height: 1;
}
body{
	display: block;
    margin: 8px;
}
main{
	display: block;
}
div {
    display: block;
}
div {
	margin: 0;
    padding: 0;
    border: 0;
	font-size: 100%;
    vertical-align: baseline;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body>div {
    position: relative;
    z-index: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
img, video {
    max-width: 100%;
} 
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
/* @supports (top: env(safe-area-inset-top)){
:root {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
} */
.wholeContainer{
	width: 100%;
    height: 100%;
    padding-right: env(safe-area-inset-right);
}
.mainContainer{
	width: 100%;
    height: 100%;
    padding-left: constant(safe-area-inset-left);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
	padding-right: constant(safe-area-inset-right);
}
.mainContainerDiv1{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
	flex-direction: column;
	z-index: 210;
    position: relative;
}

.mainContainerDivDiv1{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	-webkit-box-align: stretch;
	align-items: stretch;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
	flex-direction: column;
}


.mainContainerDiv2{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	align-items: stretch;
	flex-direction: column;
	z-index: 199;
	top: 0;
	position: sticky;
}
.mainContainerDiv3{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
	flex-direction: column;
    z-index: 198;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    transition-property: top;
    transition-duration: 300ms;
}
.mainContainerDiv4{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	margin-bottom: 0;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
	flex-direction: column;
    z-index: 197;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    transition-property: top;
    transition-duration: 300ms;
}
.mainContainerDiv5{
	display: flex;
	margin-top: 0;
    margin-bottom: 0;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    z-index: 196;
    top: 0;
    position: sticky;
    transition-property: top;
    transition-duration: 300ms;
}
.mainContainerDiv6{
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.mainContainerDiv6Div1{
	display: flex;
    height: 100vh;
    width: 100vw;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}


.mainContainerDiv6Div1Div{
	display: flex;
	height: 100%;
    width: 100%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.mainContainerDiv6DivDiv1DivPicture{
	width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.mainContainerDiv6DivPictureImg{
	object-fit: cover;
    width: 100%;
    height: 672px;
    vertical-align: top;
    height: 800px;
}

.mainContainerDiv6DivDiv1DivPicture::after {
	content: "";
}


.mainContainerDiv6Div2{
	display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    z-index: 1;
    position: absolute;
}

.headContainer{
	display: block;
    width: 100%;
    max-width: 1232px;
    margin: 0px auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    margin-bottom: 12px;
    margin-top: 15px;
    
    }


.headContainerDiv1{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}


.headContainerDiv1Div{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    overflow: visible;
    height: 52px;
    width: 100%;
    background-color: #00000000;
}


.headContainerDiv1DivDiv{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 202;
    max-width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.headContainerDiv1DivDivDiv{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.headContainerDiv1DivDivDivDiv{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    z-index: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
}
.headContainerDiv1DivDivDivDivSpan{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    width: auto;
    height: auto;
}
.headContainerDiv1DivDivDivDivSpanSpan{
	display: block;
    width: auto;
    height: 22px;
}
.headContainerSvg{
	display: block;
    width: auto;
    height: 100%;
    fill: #f3f3f3;
}
/* .rewriteLogoImage{
	width:100%;
	height:100%
} */
.headContainerDiv1DivDivDivDiv1{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.headContainerDiv1DivDivDiv1{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.contentContainer{
	display: flex;
	flex: 1;
	-webkit-box-align: stretch;
	align-items: stretch;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	-ms-flex-pack: center;
    -webkit-justify-content: center;
}
.contentContainerDiv{
	display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: unset;
    margin-bottom: unset;
    webkit-box-align: center;
    align-items: center;
}

.contentContainerDivMargin{
	margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 450px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
}

.formsectionContainer{
	display: flex;
	-webkit-box-align: stretch;
	align-items: stretch;
	flex-direction: column;
	min-height: 373px;
    padding-top: 36px;
}

.formsectionHead{
	display: flex;
	padding-bottom: 20px;
	-webkit-box-align: stretch;
	align-items: stretch;
	flex-direction: column;
	padding-top: 0;
}
.formsectionHeadH3{
	border-width: 0;
    color: rgb(12, 12, 12);
    margin: 0;
    padding: 0;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2.25rem;
}
.formsectionContent{
	flex: 1 1 20px;
	display: flex;
}
.formSectionContentDiv{
	 display: flex;
	-webkit-box-align: stretch; 
	    align-items: stretch;
	    flex-direction: column;
}
.allAgreeSection{
	display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.allAgreeSectionSpan{
	display: block;
   width: 24px;
    height: 24px;
}
svg:not(:root) {
    overflow: hidden;
}
.allAgreeSectionSpanSvg{
	display: block;
    width: 100%;
    height: 100%;
    fill: rgb(148, 148, 148);
}
.allAgreeSectionDiv{
	width: 10px;
    height: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.allAgreeSectionDivH5{
	border-width: 0px;
    color: rgb(12, 12, 12);
    margin: 0px;
    padding: 0px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
}
.divided{
	flex: 0 0 auto;
    background-color: rgb(215, 215, 215);
    width: 100%;
    height: 1px;
}
.dividedDiv{
	height: 16px;
    display: flex;
}
.checkboxes{
	display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.checkboxesDiv{
	display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.checkboxes1{
	display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.checkboxes1Div{
	display: flex;
    min-width: 16px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.checkboxes1DivSpan{
	display: block;
    width: 16px;
    height: 16px;
}
.checkboxes1DivSpanSvg{
	display: block;
    width: 100%;
    height: 100%;
    fill: #949494;
}
.checkboxes1Div2{
	width: 8px;
    height: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.checkboxes1Div3{
	display: flex;
	-webkit-box-align: stretch;
	align-items: stretch;
	flex-direction: column;
}
.checkboxesWapper{
	display: flex;
	-webkit-box-align: stretch;
	align-items: stretch;
	flex-direction: column;
}
.checkboxesWapperP{
	border-width: 0px;
    color: rgb(12, 12, 12);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    text-align: left;
}
.checkboxes1DivSp{
	flex: 1 1 0%;
    display: flex;
}
.checkboxes1DivDiv{
	display: flex;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    cursor: pointer;
}
.checkboxes1DivDivSpan{
	display: block;
    width: 16px;
    height: 16px
}
.checkboxes1DivDivSpanSvg{
	display: block;
    width: 100%;
    height: 100%;
    fill: rgb(12, 12, 12);
}
.checkboxes1DivDivSpanSvgPath{
	fill: rgb(12, 12, 12);
}
.checkbox2Div{
	width: 0;
    height: 4px;
    -webkit-box-flex: 0;
    flex-grow: 0;
   flex-shrink: 0;
}
.checkbox2Div1{
	display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-direction: row;
    cursor: pointer;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.checkbox2Div1Div{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}
.checkbox2Div1DivDiv{
	display: flex;
    min-width: 16px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.checkbox2Div1DivDivSpan{
	display: block;
    width: 16px;
    height: 16px;
}
.checkbox2Div1DivDivSpanSvg{
	display: block;
    width: 100%;
    height: 100%;
    fill: #949494;
}
.checkbox2Div1DivDiv1{
	width: 8px;
    height: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.checkbox2Div1Div2{
	    flex: 1;
	    display: flex;
}
.checkbox2Div1Div3{
	display: flex;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    cursor: pointer;
}
.checkbox2Div1Div3Span{
	display: block;
    width: 16px;
    height: 16px;
}
.checkbox2Div1Div3SpanSvg{
	display: block;
    width: 100%;
    height: 100%;
    fill: #0c0c0c;
}
.checkbox2Div1Div3SpanSvgSpan{
	    fill: #0c0c0c;
}
.checkbox3Div{
	width: 0;
    height: 4px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.checkbox3Div1{
	display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.checkbox3Div1Div{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}
.checkbox3Div1DivDiv{
	display: flex;
    min-width: 16px;
    -webkit-box-align: stretch;
    align-items: stretch;
        flex-direction: column;
}
.checkbox3Div1DivDivSpan{
	display: block;
    width: 16px;
    height: 16px;
}
.checkbox3Div1DivDivSpanSvg{
	display: block;
    width: 100%;
    height: 100%;
    fill: #949494;
}
.checkbox3Div1DivDiv1{
	width: 8px;
    height: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
   flex-shrink: 0;
}
.checkbox3DivDiv2{
	    flex: 1;
	    display: flex;
}
.checkbox4Div{
	width: 0;
    height: 4px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.checkbox4Div1{
	display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
     justify-content: space-between;
     -webkit-box-pack: justify;
}
.checkbox4Div1Div{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}
.checkbox4Div1DivDiv{
	display: flex;
    min-width: 16px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.checkbox4Div1DivDivSpan{
	display: block;
    width: 16px;
    height: 16px;
}
.checkbox4Div1DivDivSpanSvg{
	display: block;
    width: 100%;
    height: 100%;
    fill: #949494;
}
.checkbox4DivDiv2{
	width: 8px;
    height: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.checkbox4Div2{
	  flex: 1;
	  display: flex;
}
.margin{
	    height: 24px;
	    display: flex; 
}
.submitbutton{
	cursor: default;
    background-color: #0000001a;
    border-width: 0;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
}
.submitbuttonDiv{
	display: flex;
    visibility: inherit;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.submitbuttonDivDiv{
	width: 4px;
	display: flex;
}
.submitbuttonDivSpan{
	border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
}
.submitbuttonDiv2{
	width: 4px;
	display: flex;
}
.footer{
	margin-top: 32px;
	align-items: stretch;
    -webkit-box-align: stretch;
	flex-direction: column;
	display: none;
}
.footerDiv{
	display: flex;
	-webkit-box-align: stretch;
	align-items: stretch;
	flex-direction: column;
}
.footerDivDiv{
	display: flex;
	margin-top: 76px;
	-webkit-box-align: stretch;
	align-items: stretch;
	flex-direction: column;
}

.footerDivDivDiv{
	display: flex;
	align-content: stretch;
	flex-shrink: 1;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    z-index: 200;
}
